@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
            color: red
    .car
        left: 50%
        transform: translateX(-50%)
    .column3 > .button, .butt>.button 
        font-size: 11px
        width: 100%
    .subheader_call
        text-align: left
    
@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 9px
            color: green
    .promo
        &_header
            font-size: 36px
    .subheader_call
        text-align: left
    .subheader
        .subheader_official
            font-size: 10px
    .callus
        font-size: 18px
    .links_three
        padding-left: 24px
    .links_five
        padding-left: 16px
        padding-right: 0
    .link
        font-size: 13px
        &_small
            font-size: 10px
    .dark_circle
        height: 27px
        width: 27px
    .butt>.button
    
        
    
@media (max-width: 768px)
    nav
        width: 100%
    .car
        width: 75%
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh /* 100 процентов видимого пространства   */
        padding: 20px 15px
        background-color: rgba(0,0 ,0 ,0.8 )
        transition: 0.6s all
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin-top: 10px
        &_link
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 12px 
        span
            display: block
            height: 2px
            width: 100%
            background-color: white
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .column3>.callus
        text-align: center
        margin-left: 12px
    .column3>.button
        width: 125px
        margin-left: 50%
        transform: translateX(-50%)
        height: 32px


    .butt>.button 
        transform: translateX(35%)
        width: 125px
        height: 30px 
        margin-left: 50%
    .butt
        margin: 0 auto
        transform: translateX(-50%)

    .column3
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .promo
        &_header
            line-height: 45px
    .social
        width: 150px
        padding-left: 0px
        padding-top: 40px
        margin-left: 10px
    .links_three
        padding-left: 20%
    .links_five
        padding-left: 12%
@media (max-width: 575px)
    .subheader
        &_official
            display: none
    .logo
        &_img
            width: 100%
            margin-top: 20%
            transform: translateY(-50%)
    .column3 > .button 
        width: 90px
        font-size: 7px
        margin-left: 45%
    .column3 > .callus
        margin-top: 15px
        margin-left: -13px
    .promo
        height: 450px
        padding-top: 240px
    .promo_descr
        display: none
    .promo_header
        font-size: 32px
    .butt > .button
        margin-left: 0px
        transform: translateX(0px)
        width: 160px
        height: 60px
        font-size: 14px
        margin-left: -13px
        margin-top: 25px
    .car
        margin-top: 60px
        width: 90%
    .choice_header
        font-size: 30px
    .dark_side
        height: 360px
    .white_side
        height: 240px
        padding-top: 180px
    .allworld
        height: 450px
    .header_white
        font-size: 32px
    .require_list
        padding-left: 7px
    .header
        margin-bottom: 10px
        margin-top: 25px
    .cities
        width: 100%
        bottom: 24px
        font-size: 18px




                    
                    

                    


