font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Black.ttf);
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  height: 51px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin-bottom: 0;
  list-style-type: none;
}
.menu .menu_link {
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  margin-top: 51px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}
.subheader .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}
.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: white;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 100;
  color: white;
  text-align: right;
}

.callus {
  margin-top: 10px;
  font-size: 22px;
  color: white;
  display: block;
  line-height: 12px;
  font-weight: 200;
}

.column3 > .button, .promo > .button {
  margin-top: 18px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.column3 > .button:hover, .promo > .button:hover {
  background-image: none;
  background-color: grey;
}

.promo > .button {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.promo {
  min-height: 800px;
  background: url(../img/1_display/uber_bg.png);
  padding: 150px 0 135px 0;
}
.promo_header {
  margin-top: 36px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 28px;
}
.promo_subheader {
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.promo_descr {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.reasons_header {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 45px;
}

.card {
  margin-bottom: 26px;
  font-size: 15px;
}
.card_right {
  margin-left: 65px;
  margin-bottom: 26px;
  font-size: 15px;
}
.card .card-title {
  color: #1EACC7;
  font-size: 15px;
}
.card .card-body {
  margin-left: 15px;
}

.circle {
  margin-top: 16px;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1EACC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spirit {
  display: block;
}

.benefits {
  width: 115px;
  height: 27px;
  background-color: black;
  margin: 0 auto;
  margin-top: 22px;
  font-size: 11px;
  text-align: center;
  line-height: 27px;
  color: white;
}

/*# sourceMappingURL=style.css.map */