* {
  font-family: "Roboto", sans-serif;
}

font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Black.ttf);
}

header {
  position: relative;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  height: 51px;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin-bottom: 0;
  list-style-type: none;
}
.menu_link {
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 51px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}
.subheader .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}
.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: white;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 100;
  color: white;
  text-align: right;
}

.callus {
  margin-top: 10px;
  font-size: 22px;
  color: white;
  display: block;
  line-height: 12px;
  font-weight: 200;
}

.column3 > .button, .butt > .button {
  margin-top: 18px;
  width: 100%;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.column3 > .button:hover, .butt > .button:hover {
  background-image: none;
  background-color: grey;
}

.butt {
  margin: 0 auto;
  margin-top: 100px;
}

.promo {
  min-height: 800px;
  background: url(../img/1_display/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  margin-top: 36px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 28px;
}
.promo_subheader {
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.promo_descr {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.header {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 45px;
}

.header_white {
  color: white;
}

.card {
  margin-bottom: 26px;
  font-size: 15px;
}
.card_right {
  margin-left: 65px;
  margin-bottom: 26px;
  font-size: 15px;
}
.card .card-title {
  color: #1EACC7;
  font-size: 15px;
}
.card .card-body {
  margin-left: 15px;
}

.col-md-3 > .circle {
  margin-top: 16px;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1EACC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spirit {
  display: block;
}

.huilo {
  padding-bottom: 64px;
}

.label {
  width: 115px;
  height: 27px;
  margin: 0 auto;
  margin-top: 22px;
  font-size: 11px;
  text-align: center;
  line-height: 27px;
  background-color: white;
}

.label_dark {
  background-color: black;
  color: white;
}

.choice {
  position: relative;
}

.dark_side {
  padding-top: 60px;
  height: 502px;
  background-color: black;
}

.white_side {
  padding-top: 210px;
  height: 397px;
  background-color: white;
}

.car {
  position: absolute;
  display: block;
  top: 231px;
  width: 759px;
  left: 25%;
}

.dark_side > .label {
  background-color: white;
  height: 24px;
  width: 112px;
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}

.everyday {
  font-size: 17px;
  width: 327px;
  height: 49px;
  margin: 0 auto;
  text-align: center;
}

.choice_header {
  text-transform: uppercase;
  color: white;
  font-size: 38px;
  text-align: center;
  margin-top: 26px;
}

.subtitle {
  font-size: 17px;
  text-align: center;
  margin-top: 19px;
}

.mobile {
  min-height: 864px;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 79px;
  background: url(../img/mobile/mobile_bg.png) center center/cover no-repeat;
}

.row_mobile {
  margin-top: 29px;
}

.mobile_item {
  position: relative;
  margin-top: 19px;
  padding-top: 82px;
  height: 280px;
  width: 100%;
  background-color: black;
}

.item_1 {
  background: url(../img/mobile/card_1.png) center center/cover no-repeat;
}
.item_2 {
  background: url(../img/mobile/card_2.png) center center/cover no-repeat;
}
.item_3 {
  background: url(../img/mobile/card_3.png) center center/cover no-repeat;
}
.item_4 {
  background: url(../img/mobile/card_4.png) center center/cover no-repeat;
}
.item_5 {
  background: url(../img/mobile/card_5.png) center center/cover no-repeat;
}
.item_6 {
  background: url(../img/mobile/card_6.png) center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item > .circle {
  position: absolute;
  bottom: 34px;
  width: 29px;
  height: 29px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  border-radius: 100%;
}

.plus {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_title {
  font-size: 22px;
  color: #1CA8C3;
}
.require_title_red {
  color: #FF5656;
}
.require_descr {
  color: #1CA8C3;
  font-size: 17px;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 300;
}
.require_list li::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../img/check_blue.png) center center/cover no-repeat;
  vertical-align: middle;
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
}
.require_list .red::before {
  background: url(../img/check_red.png) center center/cover no-repeat;
}

.allworld {
  background: url(../img/world_bg.png) center center/cover no-repeat;
  height: 720px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 22px;
}

.allworld_subheader {
  font-size: 17px;
  color: white;
  text-align: center;
  margin-top: 2px;
}

.allworld {
  position: relative;
}

.cities {
  font-size: 15px;
  color: #1FBAD6;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.links_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

.links_five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
}

.link {
  display: block;
  font-size: 15px;
  margin-left: 18px;
  color: black;
}
.link_small {
  font-size: 11px;
  opacity: 0.5;
  color: black;
}

.russian {
  display: block;
  font-size: 11px;
  width: 80px;
  margin: 0 auto;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

footer {
  position: relative;
}

.row_footer {
  padding-top: 40px;
}

.social {
  position: absolute;
  width: 199px;
  padding-top: 37px;
  padding-left: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 296px;
  right: 16px;
  top: 40px;
}
.store_img {
  height: 40x;
  width: 95px;
}

.store_block {
  display: block;
  margin-right: 5px;
  width: 95px;
  height: 27px;
  background-color: black;
  border-radius: 5%;
}

.dark_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 100%;
}
.dark_circle i {
  color: white;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
    color: red;
  }

  .car {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .column3 > .button, .butt > .button {
    font-size: 11px;
    width: 100%;
  }

  .subheader_call {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 9px;
    color: green;
  }

  .promo_header {
    font-size: 36px;
  }

  .subheader_call {
    text-align: left;
  }

  .subheader .subheader_official {
    font-size: 10px;
  }

  .callus {
    font-size: 18px;
  }

  .links_three {
    padding-left: 24px;
  }

  .links_five {
    padding-left: 16px;
    padding-right: 0;
  }

  .link {
    font-size: 13px;
  }
  .link_small {
    font-size: 10px;
  }

  .dark_circle {
    height: 27px;
    width: 27px;
  }
}
@media (max-width: 768px) {
  nav {
    width: 100%;
  }

  .car {
    width: 75%;
  }

  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }

  .column3 > .callus {
    text-align: center;
    margin-left: 12px;
  }

  .column3 > .button {
    width: 125px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 32px;
  }

  .butt > .button {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
    width: 125px;
    height: 30px;
    margin-left: 50%;
  }

  .butt {
    margin: 0 auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .promo_header {
    line-height: 45px;
  }

  .social {
    width: 150px;
    padding-left: 0px;
    padding-top: 40px;
    margin-left: 10px;
  }

  .links_three {
    padding-left: 20%;
  }

  .links_five {
    padding-left: 12%;
  }
}
@media (max-width: 575px) {
  .subheader_official {
    display: none;
  }

  .logo_img {
    width: 100%;
    margin-top: 20%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .column3 > .button {
    width: 90px;
    font-size: 7px;
    margin-left: 45%;
  }

  .column3 > .callus {
    margin-top: 15px;
    margin-left: -13px;
  }

  .promo {
    height: 450px;
    padding-top: 240px;
  }

  .promo_descr {
    display: none;
  }

  .promo_header {
    font-size: 32px;
  }

  .butt > .button {
    margin-left: 0px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 160px;
    height: 60px;
    font-size: 14px;
    margin-left: -13px;
    margin-top: 25px;
  }

  .car {
    margin-top: 60px;
    width: 90%;
  }

  .choice_header {
    font-size: 30px;
  }

  .dark_side {
    height: 360px;
  }

  .white_side {
    height: 240px;
    padding-top: 180px;
  }

  .allworld {
    height: 450px;
  }

  .header_white {
    font-size: 32px;
  }

  .require_list {
    padding-left: 7px;
  }

  .header {
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .cities {
    width: 100%;
    bottom: 24px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */